@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:ital,wght@0,100;0,900;1,400;1,900&display=swap');* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
:root{
  --cor00: #7C6FFF;
  --cor01:rgba(124, 111, 255, .5);
  --cor02:rgba(124, 111, 255, .2);
  --cor10: #5CA9FF;
  --cor11: rgba(92, 169, 255, .5);
  --cor12: rgba(92, 169, 255, .2);
  --cor20: #FCFF90;
  --cor21: rgba(252, 255, 144, .5);
  --cor22: rgba(252, 255, 144, .2);
  --cor30: #FFDE68;
  --cor31: rgba(255, 222, 104, .5);
  --cor32: rgba(255, 222, 104, .2);
  --cor40: blue;
  --cor41: rgba(0, 0, 255, .5);
  --cor42: rgba(0, 0, 255, .2);
  --vertice: rgba(0, 0, 0, .45);
  --degrade0: rgba(120, 120, 120, 1);
  --degrade1: rgba(17, 17, 17, .8);


}
html {
  width: 100vw;
  height: 100vh;
}

body {
  background: linear-gradient(var(--degrade0) 20%, var(--degrade1) 80%), url(/img/hero_python_0.svg);
  background-position: center center;
  background-size: cover;
  background-position-y: 0px;
  background-repeat: no-repeat;
}
header{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  height: 10vh;
  background-color: var(--vertice);
  display: flex;
  padding: 0 auto;
}
header a{
  color: white;
  text-decoration: none;
}
header aside img{
  width: 102px;
}
header section{
  font-size: 4rem;
  color: white;
}
header section nav ul{
  display: flex;
  list-style: none;
}
main {
  height: 85vh;
  display: flex;
  align-items: center;
  padding: 10vw;
}

main aside img{
  width: 500px;
}
main aside svg{
  width: 500px;
  fill: orange;
}
main section{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding-left: 10vw;
}
main section h1, main section h2{
  color: white;
}
main section h1{
  font-family: 'Fjalla One', sans-serif;
  font-weight: 900;
  font-size: 6rem;
  color: orange;
}
main section h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  padding-bottom: 7rem;
}
main section h2 span{
  color: orange;
}
main section ul{
  width: 30vw;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 25px 30px;
  border: 2px solid orange;
  border-radius: 8px;
}
main section ul:hover{
  background-color: white;
  border: 2px solid orange;
  background-color: orange;
}
main section ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
main section ul li img{
  width: 42px;
  filter: invert(100%) sepia(94%) saturate(24%) hue-rotate(66deg) brightness(107%) contrast(106%);
}
main section ul li img:hover{
  width: 60px;
  filter: invert(100%) sepia(25%) saturate(6367%) hue-rotate(313deg) brightness(111%) contrast(101%);
  transition: 100ms;
  transition-duration: .8s;
}
footer{
  height: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: var(--vertice);
}
footer section{
  font-family: 'Montserrat', sans-serif;
  font-size: 100;
  color: orange;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
}
footer article svg {
  display: none;
  fill: var(--cor00);
}
